.settings/org.eclipse.jdt.core.prefs
.lock
src/com/drew/metadata/mov/atoms/VideoSampleDescriptionAtom.java
src/com/drew/metadata/mov/atoms/VideoInformationMediaHeaderAtom.java
src/com/drew/metadata/mov/atoms/TimecodeSampleDescriptionAtom.java
src/com/drew/metadata/mov/atoms/TimecodeInformationMediaAtom.java
src/com/drew/metadata/mov/atoms/TimeToSampleAtom.java
src/com/drew/metadata/mov/atoms/TextSampleDescriptionAtom.java
src/com/drew/metadata/mov/atoms/SubtitleSampleDescriptionAtom.java
src/com/drew/metadata/mov/atoms/SoundSampleDescriptionAtom.java
src/com/drew/metadata/mov/atoms/SoundInformationMediaHeaderAtom.java
src/com/drew/metadata/mov/atoms/SampleDescriptionAtom.java
src/com/drew/metadata/mov/atoms/SampleDescription.java
src/com/drew/metadata/mov/atoms/MusicSampleDescriptionAtom.java
src/com/drew/metadata/exif/makernotes/OlympusRawInfoMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/OlympusRawInfoMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/OlympusRawDevelopmentMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/OlympusRawDevelopmentMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/OlympusRawDevelopment2MakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/OlympusRawDevelopment2MakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/OlympusMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/OlympusMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/OlympusImageProcessingMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/OlympusImageProcessingMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/OlympusFocusInfoMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/OlympusFocusInfoMakernoteDescriptor.java
src/com/drew/metadata/exif/ExifImageDescriptor.java
src/com/drew/metadata/exif/ExifIFD0Directory.java
src/com/drew/metadata/exif/ExifIFD0Descriptor.java
src/com/drew/metadata/exif/ExifDirectoryBase.java
src/com/drew/metadata/exif/ExifDescriptorBase.java
src/com/drew/metadata/eps/package-info.java
src/com/drew/metadata/eps/EpsReader.java
src/com/drew/metadata/eps/EpsDirectory.java
src/com/drew/metadata/eps/EpsDescriptor.java
src/com/drew/metadata/bmp/package-info.java
src/com/drew/metadata/MetadataException.java
src/com/drew/metadata/Metadata.java
src/com/drew/metadata/Face.java
src/com/drew/metadata/ErrorDirectory.java
src/com/drew/metadata/Directory.java
src/com/drew/metadata/Age.java
src/com/drew/lang/package-info.java
src/com/drew/lang/annotations/package-info.java
src/com/drew/lang/annotations/SuppressWarnings.java
src/com/drew/lang/annotations/Nullable.java
src/com/drew/lang/annotations/NotNull.java
src/com/drew/lang/StringUtil.java
src/com/drew/lang/StreamUtil.java
src/com/drew/lang/StreamReader.java
src/com/drew/lang/SequentialReader.java
src/com/drew/lang/SequentialByteArrayReader.java
src/com/drew/imaging/webp/WebpMetadataReader.java
src/com/drew/imaging/wav/package-info.java
src/com/drew/imaging/wav/WavMetadataReader.java
src/com/drew/imaging/tiff/package-info.java
src/com/drew/imaging/tiff/TiffReader.java
src/com/drew/imaging/tiff/TiffProcessingException.java
src/com/drew/imaging/tiff/TiffMetadataReader.java
src/com/drew/imaging/tiff/TiffHandler.java
src/com/drew/imaging/tiff/TiffDataFormat.java
src/com/drew/imaging/riff/package-info.java
src/com/drew/imaging/riff/RiffReader.java
src/com/drew/imaging/riff/RiffProcessingException.java
src/com/drew/imaging/ImageProcessingException.java
src/com/drew/imaging/ImageMetadataReader.java
src/com/drew/imaging/FileTypeDetector.java
src/com/drew/imaging/FileType.java
src/com/adobe/xmp/properties/package.html
src/com/adobe/xmp/properties/XMPPropertyInfo.java
src/com/adobe/xmp/properties/XMPProperty.java
src/com/adobe/xmp/properties/XMPAliasInfo.java
src/com/adobe/xmp/package.html
src/com/adobe/xmp/options/package.html
src/com/adobe/xmp/options/SerializeOptions.java
src/com/adobe/xmp/options/PropertyOptions.java
src/com/adobe/xmp/options/ParseOptions.java
src/com/adobe/xmp/options/Options.java
src/com/adobe/xmp/options/IteratorOptions.java
src/com/adobe/xmp/options/AliasOptions.java
src/com/adobe/xmp/impl/xpath/package.html
src/com/adobe/xmp/impl/xpath/XMPPathSegment.java
src/com/adobe/xmp/impl/xpath/XMPPathParser.java
src/com/adobe/xmp/impl/xpath/XMPPath.java
src/com/adobe/xmp/impl/package.html
src/com/adobe/xmp/impl/XMPUtilsImpl.java
src/com/adobe/xmp/impl/XMPSerializerRDF.java
src/com/adobe/xmp/impl/XMPSerializerHelper.java
src/com/adobe/xmp/impl/XMPSchemaRegistryImpl.java
src/com/adobe/xmp/impl/XMPNormalizer.java
src/com/adobe/xmp/impl/XMPNodeUtils.java
src/com/adobe/xmp/impl/XMPNode.java
src/com/adobe/xmp/impl/XMPMetaParser.java
src/com/adobe/xmp/impl/XMPMetaImpl.java
src/com/adobe/xmp/impl/XMPIteratorImpl.java
src/com/adobe/xmp/impl/XMPDateTimeImpl.java
src/com/adobe/xmp/impl/Utils.java
src/com/adobe/xmp/impl/QName.java
src/com/adobe/xmp/impl/ParseRDF.java
src/com/adobe/xmp/impl/ParameterAsserts.java
src/com/adobe/xmp/impl/Latin1Converter.java
src/com/adobe/xmp/impl/ISO8601Converter.java
src/com/adobe/xmp/impl/FixASCIIControlsReader.java
src/com/adobe/xmp/impl/CountOutputStream.java
src/com/adobe/xmp/impl/ByteBuffer.java
src/com/adobe/xmp/impl/Base64.java
src/com/adobe/xmp/impl/BC31F841.html
src/com/adobe/xmp/XMPVersionInfo.java
src/com/adobe/xmp/XMPUtils.java
src/com/adobe/xmp/XMPSchemaRegistry.java
src/com/adobe/xmp/XMPPathFactory.java
src/com/adobe/xmp/XMPMetaFactory.java
src/com/adobe/xmp/XMPMeta.java
src/com/adobe/xmp/XMPIterator.java
src/com/adobe/xmp/XMPException.java
src/com/adobe/xmp/XMPError.java
src/com/adobe/xmp/XMPDateTimeFactory.java
src/com/adobe/xmp/XMPDateTime.java
src/com/adobe/xmp/XMPConst.java
src/com/drew/tools/ExtractJpegSegmentTool.java
src/com/drew/metadata/xmp/package-info.java
src/com/drew/metadata/xmp/XmpWriter.java
src/com/drew/metadata/xmp/XmpReader.java
src/com/drew/metadata/xmp/XmpDirectory.java
src/com/drew/metadata/xmp/XmpDescriptor.java
src/com/drew/metadata/webp/package-info.java
src/com/drew/metadata/webp/WebpRiffHandler.java
src/com/drew/metadata/webp/WebpDirectory.java
src/com/drew/metadata/webp/WebpDescriptor.java
src/com/drew/metadata/wav/package-info.java
src/com/drew/metadata/wav/WavRiffHandler.java
src/com/drew/metadata/wav/WavDirectory.java
src/com/drew/metadata/wav/WavDescriptor.java
src/com/drew/metadata/tiff/package-info.java
src/com/drew/metadata/tiff/DirectoryTiffHandler.java
src/com/drew/metadata/icc/IccDescriptor.java
src/com/drew/metadata/heif/package-info.java
src/com/drew/metadata/heif/boxes/PrimaryItemBox.java
src/com/drew/metadata/heif/boxes/ItemProtectionBox.java
src/com/drew/metadata/heif/boxes/ItemLocationBox.java
src/com/drew/metadata/heif/boxes/ItemInfoBox.java
src/com/drew/metadata/heif/boxes/ImageSpatialExtentsProperty.java
src/com/drew/metadata/heif/boxes/HandlerBox.java
src/com/drew/metadata/heif/boxes/FullBox.java
src/com/drew/metadata/heif/boxes/FileTypeBox.java
src/com/drew/metadata/heif/boxes/Box.java
src/com/drew/metadata/heif/boxes/AuxiliaryTypeProperty.java
src/com/drew/metadata/bmp/BmpReader.java
src/com/drew/metadata/bmp/BmpHeaderDirectory.java
src/com/drew/metadata/bmp/BmpHeaderDescriptor.java
src/com/drew/metadata/avi/package-info.java
src/com/drew/metadata/avi/AviRiffHandler.java
src/com/drew/metadata/avi/AviDirectory.java
src/com/drew/metadata/avi/AviDescriptor.java
src/com/drew/metadata/adobe/package-info.java
src/com/drew/metadata/adobe/AdobeJpegReader.java
src/com/drew/metadata/adobe/AdobeJpegDirectory.java
src/com/drew/metadata/adobe/AdobeJpegDescriptor.java
src/com/drew/metadata/TagDescriptor.java
src/com/drew/metadata/Tag.java
src/com/drew/metadata/StringValue.java
src/com/drew/metadata/Schema.java
src/com/drew/metadata/MetadataReader.java
src/com/drew/lang/Rational.java
src/com/drew/lang/RandomAccessStreamReader.java
src/com/drew/lang/RandomAccessReader.java
src/com/drew/lang/RandomAccessFileReader.java
src/com/drew/lang/NullOutputStream.java
src/com/drew/lang/KeyValuePair.java
src/com/drew/lang/Iterables.java
src/com/drew/lang/GeoLocation.java
src/com/drew/lang/DateUtil.java
src/com/drew/lang/CompoundException.java
src/com/drew/lang/Charsets.java
src/com/drew/lang/ByteUtil.java
src/com/drew/lang/ByteTrie.java
src/com/drew/lang/ByteConvert.java
src/com/drew/lang/ByteArrayReader.java
src/com/drew/lang/BufferBoundsException.java
src/com/drew/imaging/riff/RiffHandler.java
src/com/drew/imaging/raf/package-info.java
src/com/drew/imaging/raf/RafMetadataReader.java
src/com/drew/imaging/quicktime/package-info.java
src/com/drew/imaging/quicktime/QuickTimeReader.java
src/com/drew/imaging/quicktime/QuickTimeMetadataReader.java
src/com/drew/imaging/quicktime/QuickTimeHandler.java
src/com/drew/imaging/psd/package-info.java
src/com/drew/imaging/psd/PsdMetadataReader.java
src/com/drew/imaging/png/package-info.java
src/com/drew/imaging/png/PngProcessingException.java
src/com/drew/imaging/png/PngMetadataReader.java
src/com/drew/imaging/png/PngHeader.java
src/com/drew/imaging/png/PngColorType.java
src/com/drew/imaging/png/PngChunkType.java
src/com/drew/imaging/png/PngChunkReader.java
src/com/drew/imaging/png/PngChunk.java
src/com/drew/imaging/png/PngChromaticities.java
src/com/drew/imaging/pcx/package-info.java
src/com/drew/imaging/pcx/PcxMetadataReader.java
src/com/drew/imaging/package-info.java
src/com/drew/imaging/mp4/Mp4Reader.java
src/com/drew/imaging/mp4/Mp4MetadataReader.java
src/com/drew/imaging/mp4/Mp4Handler.java
src/com/drew/imaging/mp3/package-info.java
src/com/drew/imaging/mp3/Mp3MetadataReader.java
src/com/drew/imaging/jpeg/package-info.java
src/com/drew/imaging/jpeg/JpegSegmentType.java
src/com/drew/imaging/jpeg/JpegSegmentReader.java
src/com/drew/imaging/jpeg/JpegSegmentMetadataReader.java
src/com/drew/imaging/jpeg/JpegSegmentData.java
src/com/drew/imaging/jpeg/JpegProcessingException.java
src/com/drew/imaging/jpeg/JpegMetadataReader.java
src/com/drew/imaging/ico/package-info.java
src/com/drew/imaging/ico/IcoMetadataReader.java
src/com/drew/imaging/heif/HeifReader.java
src/com/drew/imaging/heif/HeifMetadataReader.java
src/com/drew/imaging/heif/HeifHandler.java
src/com/drew/imaging/gif/package-info.java
src/com/drew/imaging/gif/GifMetadataReader.java
src/com/drew/imaging/eps/package-info.java
src/com/drew/imaging/eps/EpsMetadataReader.java
src/com/drew/imaging/bmp/package-info.java
src/com/drew/imaging/bmp/BmpMetadataReader.java
src/com/drew/imaging/avi/package-info.java
src/com/drew/imaging/avi/AviMetadataReader.java
src/com/drew/imaging/PhotographicConversions.java
src/com/drew/metadata/png/package-info.java
src/com/drew/metadata/png/PngDirectory.java
src/com/drew/metadata/png/PngDescriptor.java
src/com/drew/metadata/png/PngChromaticitiesDirectory.java
src/com/drew/metadata/photoshop/package-info.java
src/com/drew/metadata/photoshop/Subpath.java
src/com/drew/metadata/photoshop/PsdReader.java
src/com/drew/metadata/photoshop/PsdHeaderDirectory.java
src/com/drew/metadata/photoshop/PsdHeaderDescriptor.java
src/com/drew/metadata/photoshop/PhotoshopTiffHandler.java
src/com/drew/metadata/photoshop/PhotoshopReader.java
src/com/drew/metadata/photoshop/PhotoshopDirectory.java
src/com/drew/metadata/photoshop/PhotoshopDescriptor.java
src/com/drew/metadata/photoshop/Knot.java
src/com/drew/metadata/photoshop/DuckyReader.java
src/com/drew/metadata/photoshop/DuckyDirectory.java
src/com/drew/metadata/exif/makernotes/OlympusEquipmentMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/OlympusEquipmentMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/OlympusCameraSettingsMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/OlympusCameraSettingsMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/NikonType2MakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/NikonType2MakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/NikonType1MakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/NikonType1MakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/LeicaType5MakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/LeicaType5MakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/LeicaMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/LeicaMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/KyoceraMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/KyoceraMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/KodakMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/KodakMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/FujifilmMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/FujifilmMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/CasioType2MakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/CasioType2MakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/CasioType1MakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/CasioType1MakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/CanonMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/CanonMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/AppleMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/AppleMakernoteDescriptor.java
src/com/drew/metadata/exif/PrintIMDirectory.java
src/com/drew/metadata/exif/PrintIMDescriptor.java
src/com/drew/metadata/exif/PanasonicRawWbInfoDirectory.java
src/com/drew/metadata/exif/PanasonicRawWbInfoDescriptor.java
src/com/drew/metadata/exif/PanasonicRawWbInfo2Directory.java
src/com/drew/metadata/exif/PanasonicRawWbInfo2Descriptor.java
src/com/drew/metadata/exif/PanasonicRawIFD0Directory.java
src/com/drew/metadata/exif/PanasonicRawIFD0Descriptor.java
src/com/drew/metadata/exif/PanasonicRawDistortionDirectory.java
src/com/drew/metadata/exif/PanasonicRawDistortionDescriptor.java
src/com/drew/metadata/exif/GpsDirectory.java
src/com/drew/metadata/exif/GpsDescriptor.java
src/com/drew/metadata/exif/ExifTiffHandler.java
src/com/drew/metadata/exif/ExifThumbnailDirectory.java
src/com/drew/metadata/exif/ExifThumbnailDescriptor.java
src/com/drew/metadata/exif/ExifSubIFDDirectory.java
src/com/drew/metadata/exif/ExifSubIFDDescriptor.java
src/com/drew/metadata/exif/ExifReader.java
src/com/drew/metadata/exif/ExifInteropDirectory.java
src/com/drew/metadata/exif/ExifInteropDescriptor.java
src/com/drew/metadata/exif/ExifImageDirectory.java
src/com/drew/metadata/mp4/media/Mp4MetaHandler.java
src/com/drew/metadata/mp4/media/Mp4MetaDirectory.java
src/com/drew/metadata/mp4/media/Mp4MetaDescriptor.java
src/com/drew/metadata/mp4/media/Mp4MediaDirectory.java
src/com/drew/metadata/mp4/media/Mp4HintHandler.java
src/com/drew/metadata/mp4/media/Mp4HintDirectory.java
src/com/drew/metadata/mp4/media/Mp4HintDescriptor.java
src/com/drew/metadata/mp4/boxes/package-info.java
src/com/drew/metadata/mp4/boxes/VisualSampleEntry.java
src/com/drew/metadata/mp4/boxes/VideoMediaHeaderBox.java
src/com/drew/metadata/mp4/boxes/TimeToSampleBox.java
src/com/drew/metadata/mp4/boxes/SoundMediaHeaderBox.java
src/com/drew/metadata/heif/HeifPictureHandler.java
src/com/drew/metadata/heif/HeifHandlerFactory.java
src/com/drew/metadata/heif/HeifDirectory.java
src/com/drew/metadata/heif/HeifDescriptor.java
src/com/drew/metadata/heif/HeifContainerTypes.java
src/com/drew/metadata/heif/HeifBoxTypes.java
src/com/drew/metadata/heif/HeifBoxHandler.java
src/com/drew/metadata/gif/package-info.java
src/com/drew/metadata/gif/GifReader.java
src/com/drew/metadata/gif/GifImageDirectory.java
src/com/drew/metadata/gif/GifImageDescriptor.java
src/com/drew/metadata/gif/GifHeaderDirectory.java
src/com/drew/metadata/gif/GifHeaderDescriptor.java
src/com/drew/metadata/gif/GifControlDirectory.java
src/com/drew/metadata/gif/GifControlDescriptor.java
src/com/drew/metadata/gif/GifCommentDirectory.java
src/com/drew/metadata/gif/GifCommentDescriptor.java
src/com/drew/metadata/gif/GifAnimationDirectory.java
src/com/drew/metadata/gif/GifAnimationDescriptor.java
src/com/drew/metadata/file/package-info.java
src/com/drew/metadata/file/FileTypeDirectory.java
src/com/drew/metadata/file/FileTypeDescriptor.java
src/com/drew/metadata/file/FileSystemMetadataReader.java
src/com/drew/metadata/file/FileSystemDirectory.java
src/com/drew/metadata/file/FileSystemDescriptor.java
src/com/drew/metadata/exif/package-info.java
src/com/drew/metadata/exif/makernotes/package-info.java
src/com/drew/metadata/exif/makernotes/SonyType6MakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/SonyType6MakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/SonyType1MakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/SonyType1MakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/SigmaMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/SigmaMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/SanyoMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/SanyoMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/SamsungType2MakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/SamsungType2MakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/RicohMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/RicohMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/ReconyxUltraFireMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/ReconyxUltraFireMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/ReconyxHyperFireMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/ReconyxHyperFireMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/PentaxMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/PentaxMakernoteDescriptor.java
src/com/drew/metadata/exif/makernotes/PanasonicMakernoteDirectory.java
src/com/drew/metadata/exif/makernotes/PanasonicMakernoteDescriptor.java
src/com/drew/metadata/pcx/package-info.java
src/com/drew/metadata/pcx/PcxReader.java
src/com/drew/metadata/pcx/PcxDirectory.java
src/com/drew/metadata/pcx/PcxDescriptor.java
src/com/drew/metadata/package-info.java
src/com/drew/metadata/mp4/package-info.java
src/com/drew/metadata/mp4/media/package-info.java
src/com/drew/metadata/mp4/media/Mp4VideoHandler.java
src/com/drew/metadata/mp4/media/Mp4VideoDirectory.java
src/com/drew/metadata/mp4/media/Mp4VideoDescriptor.java
src/com/drew/metadata/mp4/media/Mp4TextHandler.java
src/com/drew/metadata/mp4/media/Mp4TextDirectory.java
src/com/drew/metadata/mp4/media/Mp4TextDescriptor.java
src/com/drew/metadata/mp4/media/Mp4SoundHandler.java
src/com/drew/metadata/mp4/media/Mp4SoundDirectory.java
src/com/drew/metadata/mp4/media/Mp4SoundDescriptor.java
src/com/drew/metadata/mov/atoms/MovieHeaderAtom.java
src/com/drew/metadata/mov/atoms/MediaHeaderAtom.java
src/com/drew/metadata/mov/atoms/HandlerReferenceAtom.java
src/com/drew/metadata/mov/atoms/FullAtom.java
src/com/drew/metadata/mov/atoms/FileTypeCompatibilityAtom.java
src/com/drew/metadata/mov/atoms/Atom.java
src/com/drew/metadata/mov/QuickTimeMetadataHandler.java
src/com/drew/metadata/mov/QuickTimeMediaHandler.java
src/com/drew/metadata/mov/QuickTimeHandlerFactory.java
src/com/drew/metadata/mov/QuickTimeDirectory.java
src/com/drew/metadata/mov/QuickTimeDictionary.java
src/com/drew/metadata/mov/QuickTimeDescriptor.java
src/com/drew/metadata/mov/QuickTimeContainerTypes.java
src/com/drew/metadata/mov/QuickTimeAtomTypes.java
src/com/drew/metadata/mov/QuickTimeAtomHandler.java
src/com/drew/metadata/jpeg/package-info.java
src/com/drew/metadata/jpeg/JpegReader.java
src/com/drew/metadata/jpeg/JpegDnlReader.java
src/com/drew/metadata/jpeg/JpegDirectory.java
src/com/drew/metadata/jpeg/JpegDhtReader.java
src/com/drew/metadata/jpeg/JpegDescriptor.java
src/com/drew/metadata/jpeg/JpegComponent.java
src/com/drew/metadata/jpeg/JpegCommentReader.java
src/com/drew/metadata/jpeg/JpegCommentDirectory.java
src/com/drew/metadata/jpeg/JpegCommentDescriptor.java
src/com/drew/metadata/jpeg/HuffmanTablesDirectory.java
src/com/drew/metadata/jpeg/HuffmanTablesDescriptor.java
src/com/drew/metadata/jfxx/package-info.java
src/com/drew/metadata/jfxx/JfxxReader.java
src/com/drew/metadata/jfxx/JfxxDirectory.java
src/com/drew/metadata/jfxx/JfxxDescriptor.java
src/com/drew/metadata/jfif/package-info.java
src/com/drew/metadata/jfif/JfifReader.java
src/com/drew/metadata/jfif/JfifDirectory.java
src/com/drew/metadata/jfif/JfifDescriptor.java
src/com/drew/metadata/iptc/package-info.java
src/com/drew/metadata/iptc/Iso2022Converter.java
src/com/drew/metadata/iptc/IptcReader.java
src/com/drew/metadata/iptc/IptcDirectory.java
src/com/drew/metadata/iptc/IptcDescriptor.java
src/com/drew/metadata/ico/package-info.java
src/com/drew/metadata/ico/IcoReader.java
src/com/drew/metadata/ico/IcoDirectory.java
src/com/drew/metadata/ico/IcoDescriptor.java
src/com/drew/metadata/icc/package-info.java
src/com/drew/metadata/icc/IccReader.java
src/com/drew/metadata/icc/IccDirectory.java
src/com/drew/tools/package-info.java
src/com/drew/tools/ProcessUrlUtility.java
src/com/drew/tools/ProcessAllImagesInFolderUtility.java
src/com/drew/tools/FileUtil.java
src/com/drew/metadata/mp4/boxes/SampleEntry.java
src/com/drew/metadata/mp4/boxes/MovieHeaderBox.java
src/com/drew/metadata/mp4/boxes/MediaHeaderBox.java
src/com/drew/metadata/mp4/boxes/HintMediaHeaderBox.java
src/com/drew/metadata/mp4/boxes/HandlerBox.java
src/com/drew/metadata/mp4/boxes/FullBox.java
src/com/drew/metadata/mp4/boxes/FileTypeBox.java
src/com/drew/metadata/mp4/boxes/Box.java
src/com/drew/metadata/mp4/boxes/AudioSampleEntry.java
src/com/drew/metadata/mp4/Mp4MediaHandler.java
src/com/drew/metadata/mp4/Mp4HandlerFactory.java
src/com/drew/metadata/mp4/Mp4Directory.java
src/com/drew/metadata/mp4/Mp4Dictionary.java
src/com/drew/metadata/mp4/Mp4Descriptor.java
src/com/drew/metadata/mp4/Mp4ContainerTypes.java
src/com/drew/metadata/mp4/Mp4BoxTypes.java
src/com/drew/metadata/mp4/Mp4BoxHandler.java
src/com/drew/metadata/mp3/package-info.java
src/com/drew/metadata/mp3/Mp3Reader.java
src/com/drew/metadata/mp3/Mp3Directory.java
src/com/drew/metadata/mp3/Mp3Descriptor.java
src/com/drew/metadata/mov/package-info.java
src/com/drew/metadata/mov/metadata/package-info.java
src/com/drew/metadata/mov/metadata/QuickTimeMetadataDirectory.java
src/com/drew/metadata/mov/metadata/QuickTimeMetadataDescriptor.java
src/com/drew/metadata/mov/metadata/QuickTimeDirectoryHandler.java
src/com/drew/metadata/mov/metadata/QuickTimeDataHandler.java
src/com/drew/metadata/mov/media/package-info.java
src/com/drew/metadata/mov/media/QuickTimeVideoHandler.java
src/com/drew/metadata/mov/media/QuickTimeVideoDirectory.java
src/com/drew/metadata/mov/media/QuickTimeVideoDescriptor.java
src/com/drew/metadata/mov/media/QuickTimeTimecodeHandler.java
src/com/drew/metadata/mov/media/QuickTimeTimecodeDirectory.java
src/com/drew/metadata/mov/media/QuickTimeTimecodeDescriptor.java
src/com/drew/metadata/mov/media/QuickTimeTextHandler.java
src/com/drew/metadata/mov/media/QuickTimeTextDirectory.java
src/com/drew/metadata/mov/media/QuickTimeTextDescriptor.java
src/com/drew/metadata/mov/media/QuickTimeSubtitleHandler.java
src/com/drew/metadata/mov/media/QuickTimeSubtitleDirectory.java
src/com/drew/metadata/mov/media/QuickTimeSubtitleDescriptor.java
src/com/drew/metadata/mov/media/QuickTimeSoundHandler.java
src/com/drew/metadata/mov/media/QuickTimeSoundDirectory.java
src/com/drew/metadata/mov/media/QuickTimeSoundDescriptor.java
src/com/drew/metadata/mov/media/QuickTimeMusicHandler.java
src/com/drew/metadata/mov/media/QuickTimeMusicDirectory.java
src/com/drew/metadata/mov/media/QuickTimeMusicDescriptor.java
src/com/drew/metadata/mov/media/QuickTimeMediaDirectory.java
src/com/drew/imaging/webp/package-info.java
.classpath
.project
